li {
  color: blue !important;
}
 .auth  
{color: rgb(2, 2, 2);
  background-color: transparent;
  text-decoration: none;
}
 .auth:hover
{color: rgb(2, 2, 2);
  background-color: transparent;
  text-decoration: none;
}
.ul_auth {
  display: flex;
  justify-content: space-around;
  width: 50%;

  color: #fff;
    margin-right: .5rem;
    text-decoration: none
}
.icon-plane {
color: #fff
}
.action-button1{width: 90px;}
.action-button-sp{width: 10px;}